.embla_slider {
  --slide-spacing: 0.5px;
  --slide-size: 20%;
  --slide-height: 5rem;
  padding: 1.6rem;
}

.embla__viewport_slider {
  overflow: hidden;
}

.embla__container_slider {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * 30);
}

.embla__slide_slider {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}


.embla__buttons_slider {
  display: flex;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.embla__button_slider:disabled {
  opacity: 0.3;
}

.movie-card {
  object-fit: contain;
  height: 270px;
  width: 200px;
 background: #2c2c2c;
  border-radius: 15px;
  margin: 20px;
  transition: all ease 0.4s;
  border: 1px solid #333; 
  margin: 20px;
}

.movie-card img {
  object-fit: cover;
  border-radius: 15px;
  height: 270px;
  width: 200px;
}

.hide {
  display: none;
  position: absolute;
  top: 1%;
  border-radius: 15px;
  padding: 5%;
  width: 100%;
}

.content-content-hide {
  max-width: 70%;
  max-height: 35%;
}

.content-content-hide :where(h4, h5) {
  padding: 0;
  margin: 0;
}

.rating-content-btn-hide {
  display: flex;
  padding: 0;
  height: 10%;
}

.rating-content-btn-hide h5 {
  margin: 0;
  padding: 0;
}