.button1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 4px 8px 0px rgba(0, 200, 255, 0.7);
    border-radius: 15px;
    margin-top: 2%;
  }
  
  
  .embla_slider {
    --slide-spacing: 0.5px;
    --slide-size: 20%;
    --slide-height: 5rem;
    padding: 1.6rem;
  }
  
  .embla__viewport_slider {
    overflow: hidden;
  }
  
  .embla__container_slider {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * 30);
  }
  
  .embla__slide_slider {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  
  
  .embla__buttons_slider {
    display: flex;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
  }
  
  .embla__button_slider:disabled {
    opacity: 0.3;
  }

  @media only screen and (max-width: 600px) {
    .right{ display: flex;}
  }