.button1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 4px 8px 0px rgba(0, 200, 255, 0.7);
    border-radius: 15px;
    margin-top: 2%;
  }
  
  
  .embla_slider {
    --slide-spacing: 0.5px;
    --slide-size: 20%;
    --slide-height: 5rem;
    padding: 1.6rem;
  }
  
  .embla__viewport_slider {
    overflow: hidden;
  }
  
  .embla__container_slider {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * 30);
  }
  
  .embla__slide_slider {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  
  
  .embla__buttons_slider {
    display: flex;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
  }
  
  .embla__button_slider:disabled {
    opacity: 0.3;
  }
  
  .movie-card {
    object-fit: contain;
    height: 270px;
    width: 200px;
    border-radius: 15px;
    margin: 20px;
    transition: all ease 0.4s;
    border: 1px solid #333; 
    margin: 20px;
  }
  
  .movie-card img {
    object-fit: cover;
    border-radius: 15px;
    height: 270px;
    width: 200px;
  }
  .movie-card:hover{
    box-shadow:  0px 10px 20px 2px rgba(0, 200, 255, 0.7);
  transform:translateY(-5px);
   scale: 1;
  }
  .movie-card:hover img{
    opacity: 0.5;
  }
  .hide {
    display: none;
    position: absolute;
    top: 1%;
    border-radius: 15px;
    padding: 5%;
    width: 100%;
  }
  .hide:hover{
  display: block; 
  position: absolute;
  top: 0;
  border-radius: 15px;
  width: 100%;
  height: 270px;
  color: white;
  }
  
  .content-content-hide {
    max-width: 70%;
    max-height: 35%;
  }
  
  .content-content-hide :where(h4, h5) {
    padding: 0;
    margin: 0;
  }
  
  .rating-content-btn-hide {
    display: flex;
    padding: 0;
    height: 10%;
  }
  
  .rating-content-btn-hide h5 {
    margin: 0;
    padding: 0;
  }

  @media only screen and (max-width: 600px) {
    .right{ display: flex;}
  }