.signup-wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
    display: flex;
    justify-content: center;
  }
  
  .signup-wrapper h1 {
    margin-bottom: 24px;
    
  }
  .signup-form-container {
    width: 400px;
    padding: 40px;
    border-radius: 16px;
    background-color:white ;
    justify-content: center;
    display: flex;
    height: 45%;
    

  }
  .signup-form-container h2{
    color: black;
  }
  
  .form-control {
    margin-bottom: 16px;
    width: 100%;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 8px;
  }
  
  .form-control input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 12px;
  }
  
  .btn-submit {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .error-message {
    color: rgb(242, 113, 113);
    font-size: 12px;
    margin: 8px 0;
  }
  .submit-btn{
    margin-top: 15%;
   margin-left: 30%;
  }